.footer-container {
   background-color: var(--primary-font-color);
   color: var(--bg-color-main);
   min-height: 300px;
   padding: 0 40px;
   font-family: var(--primary-font-family);
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}

.footer-grid {
   max-width: 1200px;
   width: 100%;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
}

.app-title {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 20px;
}

.app-title p {
   font-weight: 600;
   font-size: 30px;
}

.social-media-icons {
   display: flex;
   gap: 15px;
}

.company {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 20px;
}

.company > p{
   font-size: 16px;
   margin-top: 15px;
}

.company-details{
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.company-details a {
   color: var(--bg-color-main);
   font-size: 12px;
}

.subscribe-bar {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 20px;
   font-size: 16px;
   margin-top: 15px;
}

.subscribe-bar p {
   margin-bottom: 15px;
}

.subscribe-input input {
   width: 100%;
   max-width: 300px;
   padding: 8px 4px;
   border: 2px solid #6BC785;
}

.subscribe-input button {
   padding: 8px 4px;
   background-color: var(--bg-color-heroSectionImage);
   color: var(--primary-font-color);
   border: 2px solid #6BC785;
   border-radius: 0 2px 2px 0;
   cursor: pointer;
}

.copyright {
   background-color: #141111;
   color: var(--bg-color-main);
   height: 70px;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}