.hero-container {
   height: 650px;
   width: 100%;
   background-color: var(--bg-color-heroSection);
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero-container-text {
   width: 50%;
   height: 400px;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.hero-container-text-heading {
   width: 60%;
   color: var(--primary-font-color);
   font-size: 50px;
   font-weight: 600;
   font-family: var(--heroSection-font-family);
}

.hero-container-text-paragraph {
   color: var(--primary-font-color);
   width: 60%;
}

.hero-container-image {
   height: 430px;
   width: 320px;
   background-color: var(--bg-color-heroSectionImage);
   border-radius: 80px 30px 80px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero-container-image img {
   height: 500px;
}

.hero-container-btn button {
   background-color: var(--primary-font-color);
   color: var(--bg-color-main);
   padding: 15px 25px;
   border: none;
   border-radius: 2px;
   cursor: pointer;
   font-size: 12px;
}