.product-item {
   font-family: var(--primary-font-family);
   min-height: 650px;
   height: 100%;
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.product-item-grid {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: center;
   gap: 1rem;
   min-width: 0;
}

.product-item-images {
   min-width: 0;
   width: 100%;
   height: 100%;
}


.product-item-images .single-image {
   max-width: 100%;
   max-height: 300px;
   display: block;
}

.single-image img{
   max-width: 400px;
   width: 100%;
   max-height: 400px;
}

@media (max-width: 768px) {
   .product-item-grid {
      grid-template-columns: 1fr;
   }
}

@media (max-width: 768px) {
   .product-item {
      min-height: auto;
   }
   .product-item-grid {
      grid-template-columns: 1fr;
   }
}

.flex-details {
   min-width: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   width: 80%;
   gap: 20px;
   overflow-wrap: break-word;
}

.name {
   font-size: 30px;
   font-weight: bold;
}

.rating {
   font-weight: 600;
   color: var(--secondary-font-color);
}

.price {
   color: var(--secondary-font-color);
   font-size: 20px;
   font-weight: 500;
}

.column-details {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.heading {
   font-weight: bold;
}

.add-to-cart .increment-decrement {
   font-size: 20px;
   font-weight: 500;
   display: flex;
   align-items: center;
   gap: 20px;
}

.increment-decrement > button {
   background-color: transparent;
   font-size: 28px;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.add-to-cart {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.add-to-cart-btn {
   width: 140px;
   padding: 6px 0;
   font-size: 14px;
   background-color: var(--bg-color-heroSectionImage);
   color: var(--bg-color-main);
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
   background-color: var(--bg-color-heroSection);
   color: var(--primary-font-color);
}