.cart-items-section {
   padding: 0 20px;
   min-height: 650px;
   font-family: var(--primary-font-family);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cart-items-flex {
   max-width: 1250px;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.cart-main-heading h2{
   margin: 20px 0;
}

.cart-item-details {
   display: flex;
   gap: 20px;
}

.item-image {
   height: 120px;
   width: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.item-image img {
   height: 120px;
   width: 120px;
}

.item-details {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.item-details .item-title p{
   font-weight: 500;
   font-size: 20px;
}

.stock p{
   font-size: 10px;
   color: green;
}

.add-or-delete {
   width: 100px;
   display: flex;
   font-size: 20px;
   gap: 20px;
   border: 2px solid var(--bg-color-heroSectionImage);
   padding: 3px;
   border-radius: 20px;
}

.add-or-delete button {
   background-color: transparent;
   font-size: 18px;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.delete-icon {
   display: flex;
   justify-content: center;
   align-items: center;
}

.delete-btn button {
   font-size: 14px;
   width: 100px;
   padding: 4px;
   background-color: var(--bg-color-heroSectionImage);
   border: none;
   color: #fff;
   cursor: pointer;
}

.total-payment-box {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: end;
   gap: 20px;
}

.total-payment {
   height: 200px;
   width: 350px;
   border: 2px solid rgb(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
}

.total-payment hr {
   margin-left: 25px;
   width: 300px;
   opacity: 0.5;
}

.subtotal,.total-amount {
   padding-left: 20px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.subtotal .sub {
   font-weight: 500;
   font-size: 18px;
}

.subtotal .fee {
   font-size: 15px;
   opacity: 0.7;
}

.total-amount {
   font-size: 20px;
   font-weight: 500;
}

.pay-btn button{
   width: 350px;
   font-size: 18px;
   font-family: var(--primary-font-family);
   margin-bottom: 20px;
   background-color: var(--bg-color-heroSectionImage);
   border: none;
   color: #fff;
   border-radius: 2px;
   padding: 4px 0;
   cursor: pointer;
}

.clear-cart-continue-shopping {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.clear-cart, .continue-shopping {
   width: 200px;
   display: flex;
}

.clear-cart button, .continue-shopping button {
   color: #fff;
   width: 100%;
   padding: 2px;
   font-family: var(--primary-font-family);
   border: none;
   border-radius: 3px;
   cursor: pointer;
}

.clear-cart button {
   background-color: rgb(207, 44, 44);
}

.continue-shopping button {
   background-color: black;
}
